/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 .thwpsb-countdown-wrapper {
     direction: ltr;
     height: auto;
     position: fixed;
     bottom: 10px;
     right: 0;
     width: auto;
     z-index: 99999;
     background: #ffffff;
     text-align: center;
     padding: 0 30px;
     border: 1px solid #cecbcb;
 }
 .thwpsb-countdown-wrapper span.close{
    margin: 0 10px 0 0;
    opacity: 60%;
 }
 #thwpsb-countdown{
    color:red;
 }

#wpadminbar ul li#wp-admin-bar-thwpsb{
    background-color: #c78305;
}
.CodeMirror {
  background: #c11111;
}
.sandbox-show-field{
    background-color: #e5e5e7;
    padding: 5px;
    height: 41px;
    margin-bottom: 4px;
    border: 1px solid: #dae6ed;
    position: relative;
    margin-top: 4px;
}
.sandbox-field-plus-button{
    position: absolute;
    top: 8px;
    width: 52px;
    height: 26px;
    padding-top: 7px;
    cursor: pointer;
    color: gray;
    background: #fafafa;
    border: 1px solid #ccc;
    border-radius: 3px 0px 0px 3px;
    right: 34px;
}
.sandbox-select-option{
    float: left;
    width: 100%;
}
.show-clone-checkbox{
    float: left;
    padding: 12px 0px 12px 0px;
}
}
